<a href="https://colab.research.google.com/github/Suniti3891/PythonCoLab0908/blob/main/IntoToPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Welcome to Python Session")

Welcome to Python Session

In [4]:
print("Welcome")

Welcome

# Data Type in Python
1. Standard data type
*   Number
    1. int
    2. float
    3. complex
*   string
*   boolean
2. Data Structure data type
*   List
*   Tuple
*   Set
*   Dictionary

In [ ]:
# Standard data type
1, 2, 3, 4, -1, -2, 3.14, -1.2, 12+3j, 3+4j
int = 1, 2, 3, 4, -1, -2
float = 3.14, -1.2
complex = 12+3j, 3+4j
# j = imaginary number

In [5]:
a = 10
print(a)
print(type(a))

10
<class 'int'>

In [8]:
a = -77
print(a)
print(type(a))

-77
<class 'int'>

In [10]:
b = 1.2
c = -1.2
print(b)
print(type(b))
print(type(c))

1.2
<class 'float'>
<class 'float'>

In [11]:
d = 3 + 4j
print(d)
print(type(d))

(3+4j)
<class 'complex'>

In [12]:
a = True
print(a)
print(type(a))

True
<class 'bool'>

In [15]:
a = False
print(a)
print(type(a))

False
<class 'bool'>

In [16]:
name = 'Singh'
print(name)
print(type(name))

Singh
<class 'str'>

In [13]:
name = "Singh"
print(name)
print(type(name))

Singh
<class 'str'>

In [18]:
name = """Singh"""
print(name)

Singh

In [19]:
name = 'My name is "Singh"'
print(name)

My name is "Singh"

In [21]:
a = '''My name is "Anu", I live in '..'.'''
print(a)
print(type(a))

My name is "Anu", I live in '..'.
<class 'str'>

2. Data Structure data type
*   List [ ] => list of int, float, double, complex, string, boolean
*   Tuple ( )
*   Set { }
*   Dictionary
LIST: 
can have list of list, list of tuple, sets or anything

In [23]:
list = [1,2,3]
print(list)
print(type(list))

[1, 2, 3]
<class 'list'>

In [24]:
tuple = (1,2,3)
print(tuple)
print(type(tuple))

(1, 2, 3)
<class 'tuple'>

In [25]:
set = {1,2,3}
print(set)
print(type(set))

{1, 2, 3}
<class 'set'>

In [28]:
list1 = ['a', 'b', 'c', 1, 2, 3, True, False, -1.2, 1.3, 3 + 3j ]
print(list1)
print(type(list1))

['a', 'b', 'c', 1, 2, 3, True, False, -1.2, 1.3, (3+3j)]
<class 'list'>

LIST: mutable
TUPLE: immutable
SET: unique value

In [29]:
# append inbuilt funtion
# changing the LIST 'list1' => mutable
list1.append('Sam')
print(list1)
print(type(list1))

['a', 'b', 'c', 1, 2, 3, True, False, -1.2, 1.3, (3+3j), 'Sam']
<class 'list'>

In [31]:
#APPEND
# only one can add at atime
list1.append('x')
print(list1)

['a', 'b', 'c', 1, 2, 3, True, False, -1.2, 1.3, (3+3j), 'Sam', 'x']

In [33]:
list1.append(11)
print(list1)

['a', 'b', 'c', 1, 2, 3, True, False, -1.2, 1.3, (3+3j), 'Sam', 'x', 11]

In [34]:
# CLEAR
list1.clear()
print(list1)

[]

In [35]:
list2 = ['a', 'b', 'c', 1, 2, 3, True, False, -1.2, 1.3, 3 + 3j ]
print(list2)
print(type(list2))

['a', 'b', 'c', 1, 2, 3, True, False, -1.2, 1.3, (3+3j)]
<class 'list'>

In [37]:
#COPY
list2_copy = list2.copy()
print(list2_copy)

['a', 'b', 'c', 1, 2, 3, True, False, -1.2, 1.3, (3+3j)]

In [42]:
# COUNT
listForCount = ['a', 'b', 'c', 'a', 'b', 'a']
print(listForCount)
print(listForCount.count('a'))
print(listForCount.count('b'))
print(listForCount.count('c'))

['a', 'b', 'c', 'a', 'b', 'a']
3
2
1

In [49]:
# extend, append, insert
listForExtend = ['a', 'b', 'c']
print(listForExtend)
listForExtend.extend(['x','y','z'])
print(listForExtend)

['a', 'b', 'c']
['a', 'b', 'c', 'x', 'y', 'z']

In [50]:
listForExtend.insert(1, 1)
print(listForExtend)

['a', 1, 'b', 'c', 'x', 'y', 'z']

In [51]:
# pop => remove from the end
listForExtend.pop()
print(listForExtend)

['a', 1, 'b', 'c', 'x', 'y']

In [52]:
# remove => remove mention list
listForExtend.remove(1)
print(listForExtend)

['a', 'b', 'c', 'x', 'y']

In [53]:
# reverse => print list in reverse order
listForExtend.reverse()
print(listForExtend)

['y', 'x', 'c', 'b', 'a']