<a href="https://colab.research.google.com/github/Suniti3891/PythonCoLab0908/blob/main/IntroToPython09082022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Welcome to Python")

Welcome to Python

#Data Type in Python

1. standard data type
  1. number
    1. int (whole)
    2. float (fractional value)
    3. complex (number with imagenary)
  2. string
  3. boolean

In [ ]:
int = 1,2,3,4,5,6,7,-1,-2
float = 3.14,2.34,-1.2,-2.3,-4.5
complex = 12+3i,3+4

In [2]:
a = 10
print(a)
print(type(a))

10
<class 'int'>

In [3]:
a = -77
print(a)
print(type(a))

-77
<class 'int'>

Variable : holding value ex: a
Function 
Class

In [4]:
a = 3.14
print(a)
print(type(a))

3.14
<class 'float'>

In [5]:
a = -3.14
print(a)
print(type(a))

-3.14
<class 'float'>

In [6]:
a = 3 + 14j
print(a)
print(type(a))

(3+14j)
<class 'complex'>

In [7]:
a = -3-14j
print(a)
print(type(a))

(-3-14j)
<class 'complex'>

In [8]:
a = True
print(a)
print(type(a))

True
<class 'bool'>

In [10]:
a = False
print(a)
print(type(a))

False
<class 'bool'>

In [11]:
a = "Suni"
print(a)
print(type(a))

Suni
<class 'str'>

In [12]:
a = 'Sing'
print(a)
print(type(a))

Sing
<class 'str'>

Python is case sensitive language "True" not "true"
String can be single or double

In [13]:
a = '''Sing'''
print(a)
print(type(a))

Sing
<class 'str'>

In [14]:
a = "My name is 'Sing'"
print(a)
print(type(a))

My name is 'Sing'
<class 'str'>

In [16]:
a = 'My name is "Sing", I live in "GA"'
print(a)
print(type(a))

My name is "Sing", I live in "GA"
<class 'str'>

In [17]:
a = '9873'
print(a)
print(type(a))

9873
<class 'str'>

In [18]:
a = [1,2,3,4,5,6,7]
print(a)
print(type(a))

[1, 2, 3, 4, 5, 6, 7]
<class 'list'>

Data Structure (collection of values) Data Type
1. List []: arranged in a proper way . List of anything String, Boolean, number. collection of values. List is mutable. 
2. Tuple () : value cannot change, values are immutable, values remain same
3. Set {} : values are suffle, it cannot have duplicate value. set will automatically remove duplication. Set carries only unique values
4. Dictionary

Can have list of list and mix of above, but only thing is if it start with { it has to end with }

In [19]:
a = (1,2,3,4,5,6,7)
print(a)
print(type(a))

(1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>

In [20]:
a = {1,2,3,4,5,6,7}
print(a)
print(type(a))

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>

In [21]:
a = ['a','b','c','d','e','f','g']
print(a)
print(type(a))

['a', 'b', 'c', 'd', 'e', 'f', 'g']
<class 'list'>

In [22]:
a = ['a','b','c','d','e','f','g', 1, 2, 3, 3.4, 5.6, 2+4j]
print(a)
print(type(a))

['a', 'b', 'c', 'd', 'e', 'f', 'g', 1, 2, 3, 3.4, 5.6, (2+4j)]
<class 'list'>

In [23]:
a = ('a','b','c','d','e','f','g', 1, 2, 3, 3.4, 5.6, 2+4j)
print(a)
print(type(a))

('a', 'b', 'c', 'd', 'e', 'f', 'g', 1, 2, 3, 3.4, 5.6, (2+4j))
<class 'tuple'>

In [24]:
a = {'a','a','b','c','d','e','f','g', 1, 2, 3, 3.4, 5.6, 2+4j, 'True', 'False'}
print(a)
print(type(a))

{1, 2, 3, 3.4, 5.6, 'False', (2+4j), 'e', 'g', 'a', 'd', 'True', 'c', 'b', 'f'}
<class 'set'>

Function
inbuilt funtion
append
count()
copy()
clear
extend: add list to list
insert: insert in any place (give place number, add value), index -position
pop: will pop the last one if not indicate it or it can be

In [28]:
a = ['a','b','c','d','e','f','g', 1, 2, 3, 3.4, 5.6, 2+4j]
print(a)
print(type(a))

['a', 'b', 'c', 'd', 'e', 'f', 'g', 1, 2, 3, 3.4, 5.6, (2+4j)]
<class 'list'>

In [29]:
a.append('Suni')
print(a)
print(type(a))

['a', 'b', 'c', 'd', 'e', 'f', 'g', 1, 2, 3, 3.4, 5.6, (2+4j), 'Suni']
<class 'list'>

In [30]:
a = ['a','a','a','b','c','d','e','f','g', 1, 2, 3, 3.4, 5.6, 2+4j]
print(a.count('a'))

3

In [32]:
a = ['a','b','c','d','e','f','g', 1, 2, 3, 3.4, 5.6, 2+4j]
a_cp = a.copy()
print(a)
print(a_cp)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 1, 2, 3, 3.4, 5.6, (2+4j)]
['a', 'b', 'c', 'd', 'e', 'f', 'g', 1, 2, 3, 3.4, 5.6, (2+4j)]

In [33]:
a.extend(['ram', 'shyam', 'gopal'])
print(a)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 1, 2, 3, 3.4, 5.6, (2+4j), 'ram', 'shyam', 'gopal']

In [34]:
a.insert(3,'apple')
print(a)

['a', 'b', 'c', 'apple', 'd', 'e', 'f', 'g', 1, 2, 3, 3.4, 5.6, (2+4j), 'ram', 'shyam', 'gopal']

In [35]:
a.pop()
print(a)

['a', 'b', 'c', 'apple', 'd', 'e', 'f', 'g', 1, 2, 3, 3.4, 5.6, (2+4j), 'ram', 'shyam']