In [ ]:
str1 = 'Python Pragramming'
print(str1)

Python Pragramming

InbuiltFuction: inbuilt functions with Python

In [ ]:
print(type(str1))

<class 'str'>

In [ ]:
int1=10
print(type(int1))

<class 'int'>

In [ ]:
flt1=-3.14
print(type(flt1))

<class 'float'>

In [ ]:
cmplx1=4-5j
print(type(cmplx1))

<class 'complex'>

In [ ]:
bool1=True
print(type(bool1))

<class 'bool'>

In [ ]:
lst1=[1,2,3,4,5]
print(type(lst1))

<class 'list'>

In [ ]:
tup1=(1,2,3,4,5)
type(tup1)

tuple

In [ ]:
set1={1,2,3,4,5}
type(set1)

set

In [ ]:
dict1={1:'a',2:'b',3:'c'}
type(dict1)

dict

1. Decimal (base of 10): 0, 1,2,3,4,5,6,7,8,9
2. Binary (base of 2)  : 0, 1
3. Oct (base of 8)     : 0,1,2,3,4,5,6,7
4. Hex (base of 16)    : 0,1,2,3,4,5,6,7,8,9,a,b,c,d,e,f

1. Oct: 0,1,2,3,4,5,6,7
        10,11,12,13,14,15,16,17
        20,21,22,23,24,25,26,27
        30,31,32,33,34,35,36,37
        
2. Hex: 0,1,2,3,4,5,6,7,8,9,a,b,c,d,e,f
        10,11,12,13,14,15,16,17,18,19,1a,1b,1c,1d,1e,1f
        20,21,22,23,24,25,26,27,28,29,2a,2b,2c,2d,2e,2f

In [ ]:
for i in range(0,50):
  print("Decimal ", i)
  print("Binary  ", bin(i))
  print("Octa    ", oct(i))
  print("Hexa    ", hex(i))
  print("***********")

Decimal  0
Binary   0b0
Octa     0o0
Hexa     0x0
***********
Decimal  1
Binary   0b1
Octa     0o1
Hexa     0x1
***********
Decimal  2
Binary   0b10
Octa     0o2
Hexa     0x2
***********
Decimal  3
Binary   0b11
Octa     0o3
Hexa     0x3
***********
Decimal  4
Binary   0b100
Octa     0o4
Hexa     0x4
***********
Decimal  5
Binary   0b101
Octa     0o5
Hexa     0x5
***********
Decimal  6
Binary   0b110
Octa     0o6
Hexa     0x6
***********
Decimal  7
Binary   0b111
Octa     0o7
Hexa     0x7
***********
Decimal  8
Binary   0b1000
Octa     0o10
Hexa     0x8
***********
Decimal  9
Binary   0b1001
Octa     0o11
Hexa     0x9
***********
Decimal  10
Binary   0b1010
Octa     0o12
Hexa     0xa
***********
Decimal  11
Binary   0b1011
Octa     0o13
Hexa     0xb
***********
Decimal  12
Binary   0b1100
Octa     0o14
Hexa     0xc
***********
Decimal  13
Binary   0b1101
Octa     0o15
Hexa     0xd
***********
Decimal  14
Binary   0b1110
Octa     0o16
Hexa     0xe
***********
Decimal  15
Binary   0b1111
Octa     0o17
Hexa     0xf
***********
Decimal  16
Binary   0b10000
Octa     0o20
Hexa     0x10
***********
Decimal  17
Binary   0b10001
Octa     0o21
Hexa     0x11
***********
Decimal  18
Binary   0b10010
Octa     0o22
Hexa     0x12
***********
Decimal  19
Binary   0b10011
Octa     0o23
Hexa     0x13
***********
Decimal  20
Binary   0b10100
Octa     0o24
Hexa     0x14
***********
Decimal  21
Binary   0b10101
Octa     0o25
Hexa     0x15
***********
Decimal  22
Binary   0b10110
Octa     0o26
Hexa     0x16
***********
Decimal  23
Binary   0b10111
Octa     0o27
Hexa     0x17
***********
Decimal  24
Binary   0b11000
Octa     0o30
Hexa     0x18
***********
Decimal  25
Binary   0b11001
Octa     0o31
Hexa     0x19
***********
Decimal  26
Binary   0b11010
Octa     0o32
Hexa     0x1a
***********
Decimal  27
Binary   0b11011
Octa     0o33
Hexa     0x1b
***********
Decimal  28
Binary   0b11100
Octa     0o34
Hexa     0x1c
***********
Decimal  29
Binary   0b11101
Octa     0o35
Hexa     0x1d
***********
Decimal  30
Binary   0b11110
Octa     0o36
Hexa     0x1e
***********
Decimal  31
Binary   0b11111
Octa     0o37
Hexa     0x1f
***********
Decimal  32
Binary   0b100000
Octa     0o40
Hexa     0x20
***********
Decimal  33
Binary   0b100001
Octa     0o41
Hexa     0x21
***********
Decimal  34
Binary   0b100010
Octa     0o42
Hexa     0x22
***********
Decimal  35
Binary   0b100011
Octa     0o43
Hexa     0x23
***********
Decimal  36
Binary   0b100100
Octa     0o44
Hexa     0x24
***********
Decimal  37
Binary   0b100101
Octa     0o45
Hexa     0x25
***********
Decimal  38
Binary   0b100110
Octa     0o46
Hexa     0x26
***********
Decimal  39
Binary   0b100111
Octa     0o47
Hexa     0x27
***********
Decimal  40
Binary   0b101000
Octa     0o50
Hexa     0x28
***********
Decimal  41
Binary   0b101001
Octa     0o51
Hexa     0x29
***********
Decimal  42
Binary   0b101010
Octa     0o52
Hexa     0x2a
***********
Decimal  43
Binary   0b101011
Octa     0o53
Hexa     0x2b
***********
Decimal  44
Binary   0b101100
Octa     0o54
Hexa     0x2c
***********
Decimal  45
Binary   0b101101
Octa     0o55
Hexa     0x2d
***********
Decimal  46
Binary   0b101110
Octa     0o56
Hexa     0x2e
***********
Decimal  47
Binary   0b101111
Octa     0o57
Hexa     0x2f
***********
Decimal  48
Binary   0b110000
Octa     0o60
Hexa     0x30
***********
Decimal  49
Binary   0b110001
Octa     0o61
Hexa     0x31
***********

In [ ]:
print(range(0,10))
for i in range(0,10):
  print(i)

range(0, 10)
0
1
2
3
4
5
6
7
8
9

In [ ]:
print(range(0,20))
for i in range(0,20):
  print(i)

range(0, 20)
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
print(range(0,20,2))
for i in range(0,20,2):
  print(i)

range(0, 20, 2)
0
2
4
6
8
10
12
14
16
18

In [ ]:
print(range(12,121,12))
for i in range(12,121,12):
  print(i)

range(12, 121, 12)
12
24
36
48
60
72
84
96
108
120

In [ ]:
print(range(-120,0,-12))
for i in range(-120,0,12):
  print(i)

range(-120, 0, -12)
-120
-108
-96
-84
-72
-60
-48
-36
-24
-12

In [ ]:
print(range(0,10,2))
for i in range(0,10,2):
  print(i)

range(0, 10, 2)
0
2
4
6
8

In [ ]:
print(range(10,101,10))
for i in range(10,101,10):
  print(i)

range(10, 101, 10)
10
20
30
40
50
60
70
80
90
100

In [ ]:
print(range(-1,-100,-2))
for i in range(-1,-100,-2):
  print(i)

range(-1, -100, -2)
-1
-3
-5
-7
-9
-11
-13
-15
-17
-19
-21
-23
-25
-27
-29
-31
-33
-35
-37
-39
-41
-43
-45
-47
-49
-51
-53
-55
-57
-59
-61
-63
-65
-67
-69
-71
-73
-75
-77
-79
-81
-83
-85
-87
-89
-91
-93
-95
-97
-99

In [ ]:
print(range(0,-100,-2))
for i in range(0,-100,-2):
  print(i)

range(0, -100, -2)
0
-2
-4
-6
-8
-10
-12
-14
-16
-18
-20
-22
-24
-26
-28
-30
-32
-34
-36
-38
-40
-42
-44
-46
-48
-50
-52
-54
-56
-58
-60
-62
-64
-66
-68
-70
-72
-74
-76
-78
-80
-82
-84
-86
-88
-90
-92
-94
-96
-98

In [ ]:
print(range(-19,-191,-19))
for i in range(-19,-191,-19):
  print(i)

range(-19, -191, -19)
-19
-38
-57
-76
-95
-114
-133
-152
-171
-190

In [ ]:
print(-220,-21,22)
for i in range(-220,-21,22):
  print(i)

-220 -21 22
-220
-198
-176
-154
-132
-110
-88
-66
-44
-22

In [ ]:
print(range(-50,-4,-5))
for i in range(-50,-4,-5):
  print(i)

range(-50, -4, -5)

# Type Casting

In [ ]:
int1 = 120
print(float(int1))

120.0

In [ ]:
flt1 = 3.14
print(int(flt1))

3

In [ ]:
flt1 = 3.94
print(int(flt1))

3

In [ ]:
int1 = 33
print(complex(int1))

(33+0j)

In [ ]:
int1 = 1
print(bool(int1))

True

In [ ]:
int1 = 2
print(bool(int1))

True

In [ ]:
float1 = 0.1
print(bool(float1))

True

In [ ]:
float1 = 0.0
print(bool(float1))

False

In [ ]:
int1 = 1947
print(str(int1))

1947

In [ ]:
str1 = 'python'
print(int(str1))
# ValueError: invalid literal for int() with base 10: 'python'

ValueError: ignored

In [ ]:
str1 = 'python'
print(float(str1))
# ValueError: could not convert string to float: 'python'

ValueError: ignored

In [ ]:
str1 = 'python'
print(complex(str1))
# 
ValueError: complex() arg is a malformed string

ValueError: ignored

In [ ]:
str1='1978'
print(int(str1))

1978

In [ ]:
str1 = '1978'
print(float(str1))

1978.0

In [ ]:
str1 = '1978'
print(complex(str1))

(1978+0j)

str1 = '1978'
print(bool(str1))

In [ ]:
str1 = "python programming"
print(list(str1))

['p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g']

In [ ]:
str1 = "python programming"
print(tuple(str1))

('p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g')

In [ ]:
str1 = "python programming"
print(set(str1))

{'y', 'p', 'n', ' ', 'r', 'h', 'o', 'a', 'm', 't', 'i', 'g'}

In [ ]:
lst1 = [1,2,3,4]
print(tuple(lst1))

(1, 2, 3, 4)

In [ ]:
int1 = 3.1422
print(int(int1))

3