<a href="https://colab.research.google.com/github/Suniti3891/PythonCoLab0908/blob/main/Python_Program_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1  Python Program to Print Hello world!

def strHello (str1):
  print(str1)

strHello("Hello World!")

Hello World!

In [ ]:
#2  Python Program to Add Two Numbers

def addNums(num1, num2):
  resultOfAAddition = (num1 + num2)
  print("Addition of ", num1, 'and ', num2, ' is: ', resultOfAAddition)

addNums(5, 10)

Addition of  5 and  10  is:  15

In [ ]:
# Python Program to Find the Square Root

def sqRoot(num1):
  resultOfSqRoot = (num1 * num1)
  print("Square root of ", num1, " is : ", resultOfSqRoot)

sqRoot(5)

Square root of  5  is :  25

In [ ]:
#3 Python Program to Calculate the Area of a Triangle
def triangleSides(side1, side2, side3):
  areaOfTriangle = (side1 * side2 * side3)
  print('Areas of Triangle with sides ', side1, ',', side2, 'and ', side3, ' is: ', areaOfTriangle)

triangleSides(5, 6, 5)

Areas of Triangle with sides  5 , 6 and  5  is:  150

In [ ]:
#4 Python Program to Solve Quadratic Equation

In [ ]:
#5 Python Program to Swap Two Variables

a = 1
b = 2

temp = a
a = b
b = temp

print('The value of a after swap: ', a)
print('The value of b after swap: ', b)

The value of a after swap:  2
The value of b after swap:  1

In [ ]:
#6 Python Program to Generate a Random Number
import random
num = random.random()
print(num)

0.08501967010244726

In [ ]:
#7 Python Program to Convert Kilometers to Miles

numinKilometers = float(input("Enter your number to convert kilometers to miles: "))

convertMiles = (numinKilometers * 0.6213711922)
print(numinKilometers, ' km is equal to: ', convertMiles, 'miles')

Enter your number to convert kilometers to miles: 1
1  km is equal to:  0.6213711922

In [ ]:
#8 Python Program to Convert Celsius To Fahrenheit

numinCel = float(input("Enter your number to convert Celsius to Fahrenheit: "))

convertFah = (numinCel * 1.8 + 32 )
print(numinCel, ' C is equal to: ', convertFah, 'F')

Enter your number to convert Celsius to Fahrenheit: 21
21.0  C is equal to:  69.80000000000001 F

In [ ]:
#9 Python Program to Check if a Number is Positive, Negative or 0

number = int(input("Enter your number to check if a number is positive, negative or 0: "))

if(number < 0):
  print(number, " is negative number.")
elif(number > 0):
  print(number, " is positive number.")
else:
  print("Number is 0.")

Enter your number to check if a number is positive, negative or 0: -1
-1  is negative number.

In [ ]:
#10 Python Program to Check if a Number is Odd or Even

number = int(input("Enter your number to check if a number is Odd or Even: "))

if(number % 2 == 0):
  print(number, " is Even number.")
else:
  print(number, " is Odd number")

Enter your number to check if a number is Odd or Even: 3
3  is Odd number

In [ ]:
#11 Python Program to Check Leap Year

year = int(input("Enter your Year to check Leap Year or Not: "))

if((year % 4 == 0) and (year % 100 != 0)):
  print(year, " is Leap Year.")
elif((year % 100 == 0) and (year % 400 == 0)):
  print(year, "is not Leap Year.")
else:
  print(year, " is not Leap Year.")

Enter your Year to check Leap Year or Not: 2028
2028  is Leap Year.

In [ ]:
#12 Python Program to Find the Largest Among Three Numbers

def maximum (x, y, z):
  print(max(x, y, z))

maximum(10,12,6)

12

In [ ]:
# Python Program to Find the Largest Among Three Numbers
x = 10
y = 12
z = 20

largest = x

if(x > y and x > z):
  largest = x
elif(y > x and y > z):
  largest = y
else:
  largest = z

print(largest)

20

In [ ]:
#13 Python Program to Check Prime Number
# need to correct

number = int(input("Enter your number to check if a number is Prime or Not: "))

if(number >= 1 and number % 2 == 0):
  print(number, " is Prime number.")
else:
  print(number, " is Not Prime")

Enter your number to check if a number is Prime or Not: 4
4  is Prime number.

In [ ]:
# 14 Python Program to Print all Prime Numbers in an Interval
lowerLimitNum = int(input("Enter your lower limit number to print prime number: "))
upperLimitNum = int(input("Enter your upper limit number to print prime number: "))

for i in range(lowerLimitNum, upperLimitNum + 1 ):
  if i > 1 
  if(number >= 1 and number % 2 == 0):
    print(i, end=' ')
else:
  print('', end='')

Enter your number to print prime number: 5

In [ ]:
# 15 Python Program to Find the Factorial of a Number
# 5! = 5 * 4 * 3 * 2 * 1

def facNum(x):
  if x < 0:
    return 0
  elif (x == 0 or x == 1):
    return 1
  else:
    return (x * facNum(x-1))

facNum(5)

120

In [ ]:
#16 Python Program to Display the multiplication Table

number = int(input("Enter your number to create multiplication table : "))

for i in range(1,11):
  print(i, ' * ', number, ' = ', i* number)

Enter your number to create multiplication table : 7
1  *  7  =  7
2  *  7  =  14
3  *  7  =  21
4  *  7  =  28
5  *  7  =  35
6  *  7  =  42
7  *  7  =  49
8  *  7  =  56
9  *  7  =  63
10  *  7  =  70

In [ ]:
#17 Python Program to Find the Sum of Natural Numbers

number = int(input("Enter your number to create sum of natural numbers : "))
if(number < 0):
  print("Please enter positive number")
else: 
  sum = 0
  for i in range(1,number + 1):
    sum += i
    print(sum)

Enter your number to create sum of natural numbers : 4
1
3
6
10

In [ ]:
#18 Python Program to Create Pyramid Patterns

for i in range(10):
  for j in range(i, 10):
    print(' ', end=' ')
  for k in range(0, i+1):
    print(' * ', end=' ')
  print()

                     *
                   *   *
                 *   *   *
               *   *   *   *
             *   *   *   *   *
           *   *   *   *   *   *
         *   *   *   *   *   *   *
       *   *   *   *   *   *   *   *
     *   *   *   *   *   *   *   *   *
   *   *   *   *   *   *   *   *   *   *

In [ ]:
#19 Python Program to Merge Two Dictionaries

dist1 = {
    'brand':'Toyota',
    'modle': 'Sienna',
    'year': '2020'
}

dist2 = {
    'brand':'Nissan',
    'modle': 'Murano',
    'year': '2022'
}

 
dist1 |= dist2
print(dist2)

TypeError: ignored

In [ ]:
#20 Python Program to Find ASCII Value of Character
var1 = 'a'
print(ord(var1))

97

In [ ]:
#21 Python Program to Display Calendar

import calendar
print(calendar.calendar(2022))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [ ]:
#23 Python Program to Find HCF or GCD
import math
def gcd(n1,n2):
  return(math.gcd(n1,n2))

print(gcd(12,20))

4

In [ ]:
#24 Python Program to Find LCM
import math
def lcm(n1, n2):
    # print(arr[i])
  return ((n1* n2) // math.gcd(n1, n2))
print(lcm(12,20))

#print((a * b) // math.gcd(a,b))

60

In [ ]:
#25 Python Program to Convert Decimal to Binary, Octal and Hexadecimal

def deciToBinary(number):
  if (number >= 1):
    deciToBinary(number // 2)
  print(number % 2, end='')

deciToBinary(17)

010001100xff

In [ ]:
def deciToOctal(number):
  if (number > 0):
    deciToOctal((int)(number / 8))
    print(number % 8, end='')

deciToOctal(8)

10

In [ ]:
def deciToHexa(number):
  print(hex(number))

deciToHexa(255)

0xff

In [9]:
#50 Python Program to Access Index of a List Using for Loop
lst1 = ['Apple', 'Banana', 'Orange']
for indexLst1 in range(len(lst1)):
  value = lst1[indexLst1]
  print((indexLst1, value))

(0, 'Apple')
(1, 'Banana')
(2, 'Orange')