def function_name(parameters):
keyword Function name Parameter
# statement  ==> body of statement
return expression ==> function return

In [ ]:
def my_name():
  print("My Name Is Anthony G")

In [ ]:
my_name()

My Name Is Anthony G

In [ ]:
def my_name(fname, lname):
  print('My name is ',fname, ' ',lname)

In [ ]:
my_name('Anthony', 'G')

My name is  Anthony   G

In [ ]:
def sum(var1, var2):
  print(var1 + var2)

In [ ]:
sum(2,5)

7

In [ ]:
sum(3.14,6.15)

9.290000000000001

In [ ]:
sum(True, True)

2

In [ ]:
sum('Python', 'Programming')

PythonProgramming

#** Python is Dynamically Typed Language**

In [ ]:
def student_info(fname, lname, age, gender, stream):
  print("First Name:", fname, "\n", "Last Name:", lname, "\n", "Age:", age, "\n", "Gender:", gender, "\n", "Stream: ", stream)

In [ ]:
student_info("Suniti", "Singh", 16, "F", "PCM")

First Name: Suniti
 Last Name: Singh
 Age: 16
 Gender: F
 Stream:  PCM

In [ ]:
def simp_int(prin, time, inte):
  print((prin*time*inte)/100)

In [ ]:
simp_int(120000,10,7.85)

94200.0

In [ ]:
#lst_name=[]
#percentage=[]

def display_result(lst_name, percentage):
  if(percentage > 90):
    print(lst_name, "got ", percentage, "A")
  elif(percentage > 80):
    print(lst_name, "got ", percentage, "B")
  elif(percentage > 70):
    print(lst_name, "got ", percentage, "C")
  else:
    print(lst_name, "got ", percentage, "F")

In [ ]:
display_result('Suniti', 80 )

Suniti got  80 C

lst_name=[] # 10 students
percentage = [] #10

In [ ]:
lst_name=["Suniti", "Singh", "Ram", "Sita"]
percentage=[90,85,75,69]

def display_ressult(lst_name, percentage):
    if(percentage > 90):
      print(lst_name, "got ", percentage, "A")
    elif(percentage > 80):
      print(lst_name, "got ", percentage, "B")
    elif(percentage > 70):
      print(lst_name, "got ", percentage, "C")
    else:
      print(lst_name, "got ", percentage, "F")
  for i in range(0,5):
    display_restult(lst_name[i], percentage[i])

*args - no key arguments
**kwargs - key arguments

In [ ]:
def my_prog(*args):
  for i in args:
    print(i, end='')

In [ ]:
my_prog('My ', 'Name ', 'Is ', 'Anthony ', 'G')

My Name Is Anthony G

In [ ]:
my_prog('India', "is", "my")

Indiaismy

In [ ]:
my_prog(1 , 2 , "First ", "Second ", "Third ", 'Forth ', 'Fifth ', "sixth ", 'Seventh ', "Eight ")

12First Second Third Forth Fifth sixth Seventh Eight

In [ ]:
my_prog('Python')

Python

In [ ]:
my_prog(["Suni", "Zero "], 3+8j, {"Fruit ", "Snacks "}, (1 , 2), {'a': 1, 'b': 2})

['Suni', 'Zero '](3+8j){'Snacks ', 'Fruit '}(1, 2){'a': 1, 'b': 2}

In [ ]:
def my_prog(*args):
  var1 = ''
  for i in args:
    var1 = var1 + i
  return var1

In [ ]:
my_prog("Suni ", "Zero ")

'Suni Zero '

In [ ]:
def my_prog(*args):
  var1 = 0
  for i in args:
    var1 = var1 + i
  return var1

In [ ]:
my_prog(1,2,3,4,5)

15