# 09/11/2022 Assignment: 
## Set : {}, collection which is unordered, unchangeable, and unindexed. No duplicate members.
## Dictionary: {}, keys : values, collection which is ordered and changeable. No duplicate members.
1. create list of list, tuple, set, dictionary
2. create tuple of list, tuple, set, dictionary
3. create set of list, tuple, set, dictionary
4. create dictionary of list, tuple, set, dictionary

In [ ]:
A = {1,2,3,4,5}
B = {6,7,8,9,10}
print(A.isdisjoint(B))

True

In [ ]:
A = {1,2,3,4,5,6,7}
B = {1,2,6,7,8,9,10}
print(A.isdisjoint(B))

False

In [ ]:
A = {1,2,3,4,5,6,7,'a','b','abc',True}
B = {1,2,6,7,8,9,10,'a','c','xyz'}
print(A.isdisjoint(B))

False

In [ ]:
A = {1,2,3,4,5,'a','b','abc',True}
B = {6,7,8,9,10,'c','d','xyz',False}
print(A.isdisjoint(B))

True

In [ ]:
A = {1,2,3,4,5,'a','b','abc', True, False}
B = {1,2,3,'a','xyz',False}
print(A.issubset(B))

False

In [ ]:
A = {1,2,3,4,5,'a','b','abc', True, False}
B = {1,2,3,'a'}
print(B.issubset(A))

True

In [ ]:
A = {1,2,3,4,5,'a','b','abc', True, False}
B = {1,2,3,'a', True}
print(B.issubset(A))

True

In [ ]:
A = {1,2,3,4,5,'a','b','abc', True, False}
print(A)
A.pop()
print(A)

{False, 1, 2, 3, 4, 5, 'b', 'abc', 'a'}
{1, 2, 3, 4, 5, 'b', 'abc', 'a'}

In [ ]:
A = {1,2,3,4,5,'a','b','abc', True, False}
B = {6,7,8,'c', 'xyz'}
print(A.union(B))

{False, 1, 2, 3, 4, 5, 6, 7, 'b', 8, 'xyz', 'abc', 'c', 'a'}

In [ ]:
A = {1,2,3,4,5,'a','b','abc', True, False}
A.remove('abc')
print(A)

{False, 1, 2, 3, 4, 5, 'b', 'a'}

In [ ]:
A = {1,2,3,4,5}
B = {'a','b','c','d','e'}
A.update(B)
print(A)

{1, 2, 3, 4, 5, 'd', 'b', 'c', 'e', 'a'}

# Set update()
updates A after the items of B is added to A.

In [ ]:
dict1 = {
    'D' : 123,
    'M' : 456,
    'S' : 789
}
print(dict1)
print(dict1['D'])

{'D': 123, 'M': 456, 'S': 789}
123

In [ ]:
dict1 = {
    'D' : 123,
    'M' : 456,
    'S' : 789
}
print(dict1)
dict1.pop('D')
print(dict1)

{'D': 123, 'M': 456, 'S': 789}
{'M': 456, 'S': 789}

In [ ]:
dict2 = {
    'A' : 123,
    'B' : 456,
    'C' : 789
}
print(dict2)
dict2.popitem()
print(dict2)

{'A': 123, 'B': 456, 'C': 789}
{'A': 123, 'B': 456}

# Dictionary popitem() Method:
Remove the last item from the dictionary.

1. create list of list, tuple, set, dictionary
2. create tuple of list, tuple, set, dictionary
3. create set of list, tuple, set, dictionary
4. create dictionary of list, tuple, set, dictionary

In [ ]:
listOfLists = [['A','B'],[1,2],['a','b']]
print(listOfLists)
print(listOfLists[0])

[['A', 'B'], [1, 2], ['a', 'b']]
['A', 'B']

In [ ]:
listOfTuples = [(1,2),('A','B'),('a','b')]
print(listOfTuples)
print(listOfTuples[0])

[(1, 2), ('A', 'B'), ('a', 'b')]
(1, 2)

In [ ]:
listOfSets = [{1,2}, {'A','B'}, {'a','b'}]
print(listOfSets)
print(listOfSets[0])

[{1, 2}, {'B', 'A'}, {'a', 'b'}]
{1, 2}

In [ ]:
listOfDict = [{1:'A', 2:'B'}, {3 : 'C', 4 : 'D'}]
print(listOfDict)
print(listOfDict[0])
print(listOfDict[0].get(1))
print(listOfDict[0].items())

[{1: 'A', 2: 'B'}, {3: 'C', 4: 'D'}]
{1: 'A', 2: 'B'}
A
dict_items([(1, 'A'), (2, 'B')])

In [ ]:
tupleOfList = ([1,1,2],[3,4])
tupleOfListB = [3]

print(tupleOfList)
print(tupleOfList[0])
print(tupleOfList[0].count(1))
tupleOfListExtend = tupleOfList[0].extend(tupleOfListB)
print(tupleOfListExtend)

([1, 1, 2], [3, 4])
[1, 1, 2]
2
None

# Need to work on tuple List extend

In [ ]:
tupleOfTuple = ((1,1,2),(3,4))
print(tupleOfTuple)

((1, 1, 2), (3, 4))